<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-12">
            <table id="conversation" class="table table-striped">
                <thead>
                    <tr>
                        <th>Contenido que se va a mostrar en pantalla Dos</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td> {{screenTwo}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>