<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-6">
            <table id="conversation" class="table table-striped">
                <thead>
                    <tr>
                        <th>Contenido que se va a mostrar en pantalla Tres</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td> {{screenThree}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>